* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


/* FLEX BASE */

.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.center {
    justify-content: center;
}

/* CANVAS CONTAINER */

.editor{
    flex-direction: column;
    margin-bottom: 20px;
}

/* Meme Editor */
.text-box{
    margin: 10px auto;
}