* {
    box-sizing: border-box;
}

/* VARS */
:root {
    /* layout */
    --inner-padding: 2.08vw;
}

body {
    margin: 0;
    padding-inline: var(--inner-padding);
    background: #F8F8F8;
}



/* CANVAS CONTAINER */

.editor {
    flex-direction: column;
    margin-bottom: 20px;
}

/* Meme Editor */
.text-box {
    margin: 10px auto;
}


/* GALLERY */

.gallery {
    flex-wrap: wrap
}

/* img.thumbnail {
    margin-bottom: 10px;
    max-width: 210px;

    padding-inline: 10px;
  } */

.gallery img {
    display: block;
    max-width: 210px;
    height: auto;
    margin: 10px;
    object-fit: contain;
    border-radius: 10px;
    align-self: flex-start
}

/* FLEX BASE */

.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.center {
    justify-content: center;
}